__pycache__/
*.py[cod]
*.so
*.egg-info/
.Python
venv/
env/

data/faces
data/raw
data/faces_dataset/test/images
data/faces_dataset/train/images

models/

face_detector.pkl

outputs/


.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db